@use '../utils' as *;

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

body{
    // top right bottom left
    padding : rem(10) rem(25) rem(15) rem(25);
    @include breakpoint{
        padding: rem(20) rem(50) rem(35) rem(50);
    }
    background-color: var(--dark-bg);
    color: var(--dark-text2);
}
