@use '../utils/' as *;

.cards{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(30);
    
    @include breakpoint{
        grid-template-columns: 1fr 1fr;
        gap: rem(30);
    }
    @include breakpoint(rem(895)){
        column-gap: rem(30);
        grid-template-columns: repeat(4,1fr);

    }
    
}

.card{
    background-color: var(--dark-card-bg);
    color: var(--dark-text1);
    text-align: center;
    // min-width: 0;
    // width: 100%;
    // max-width: rem(255);// temporary
    border-radius: rem(5);
    padding: rem(25);

    &--facebook{
        border-top: rem(4) solid var(--facebook);
    }

    &--twitter{
        border-top: rem(4) solid var(--twitter);
    }

    &--instagram{
        overflow: hidden;
        position: relative;
        border-top: rem(4) solid var(--instagram);
        
        &::before{
            position: absolute;
            width: 100%;
            display: block;
            content: '';
            left: 0;
            top: 0;
            height: rem(4);
            background-image: linear-gradient(225deg,var(--instagram-start),var(--instagram-middle) 50.91%,var(--instagram-end) 100%);

        }
    }

    &--youtube{
        border-top: rem(4) solid var(--youtube);
    }
    &__platform{
        height: rem(20);
        display: flex;
        gap: rem(8);
        justify-content: center;
        align-items: center;

        margin-bottom: rem(28);
    }

    &__icon{
        height: rem(20);
    }

    &__follower{
        margin-bottom: rem(25);
    }


    &__username{
        font-size: rem(12);
        font-width: 700;
    }

    &__count{
        color: var(--light-bg);
        font-weight: 700;
        letter-spacing: rem(-2);
        margin-bottom: rem(4);

        &--big{
            font-size: rem(56);
        }
        &--small{

        }
    }

    &__label{
        color: var(--dark-text1);
        font-size: rem(12);
        font-width: 400;
        text-transform: uppercase;
        letter-spacing: rem(5);
    }

    &__change{
        font-size: rem(12);
        font-width: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(4);
        &--up{
            color: var(--limegreen);
        }
        &--down{
            color: var(--brightred);
        }
    }
}