@use '../utils/' as *;

.header {
    display: flex;
    flex-direction: column;
    @include breakpoint{
        flex-direction: row;
        justify-content: space-between;
    }

    margin-bottom: rem(30);



    // &__title{

    // }

    &__subtitle{
        font-size: rem(16);
        color: var(--text-color2);
        font-weight: 700;
    }

    &__toggle {
        align-self: flex-start;
        @include breakpoint{
            align-self: default;
        }
    }
}