@use '../utils' as *;

.toggle {
    border:  none;
    display: grid;
    grid-template-columns: 1fr rem(70);
    grid-template-rows: 1fr;
    // justify-content: space-between;
    column-gap: rem(2);

    &__wrapper {
        grid-column: 2/3;
        width: rem(48);
        justify-self: center;

        height: rem(24);
        // overflow: hidden;
        
        position: relative;

        // cursor: pointer;

        #light:checked ~ .toggle__button{
            left: calc(100% - rem(20));
        }
        
    }
    
    input[type="radio"] {
        // margin: 0 rem(-1.5) 0 0;
        margin-left: rem(3);
        opacity: 0;
        height: rem(18);
        width: rem(18);
        margin-top: rem(3);

        &:focus ~ .toggle__button{
            border: 2px solid var(--text-color);
        }

    }
    
    &__background{
        // opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        background-image: linear-gradient(225deg,var(--toggle-bg-start) 0%,var(--toggle-bg-end) 98.02%);
        border-radius: rem(12);
        pointer-events: none;
    }

    &__button{
        position: absolute;
        left: rem(3);
        top: rem(3);
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--bg);
        pointer-events: none;

        transition: left 0.1s linear 0s;
    }

    label{
        cursor: pointer;
        font-size: rem(14);
        color: var(--toggle);
        font-weight: 700;

        &[for="dark"] {
            grid-column: 1/2;
            justify-self: right;
        }

    }

}